<% if (getCurrentPathProps()._statusCode === '404') { %>
    <h1>404 not found</h1>
<% } else if (getCurrentPathProps().page === 'home') { %>
    <h1>Hi! Welcome to our Demo website.</h1>
    <p>
        Use links from the main menu to see examples of  apps written on different technologies running side by side on the
        same page stitched together by Isomorphic Layout Composer.
    </p>
    <p>
        This particular area was written on Vanilla JS using Lodash template while Navbar is written on React.
    </p>
<% } else { %>
    <h1>Unexpected error</h1>
<% } %>